.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh; /* Cambiamos 'height' a 'min-height' para asegurar que el fondo abarque toda la pantalla */
  background-color: rgba(0, 0, 0, 0.932); /* Fondo negro translúcido */
  border-radius: 30px;
}
  .form {
    max-width: 600px;
    width: 100%;
    height: 40%;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* background-color: rgba(0, 0, 0, 0.897); */
    text-align: center;
  }
  
  .form img {
    max-width: 100%; /* Asegura que la imagen ocupe todo el ancho del formulario */
    max-height: 300px; /* Ajusta la altura máxima de la imagen según tus necesidades */
    margin-bottom: 20px; /* Espacio entre la imagen y los otros elementos */
    border-radius: 10px; /* Agrega un borde redondeado a la imagen */
    opacity: 0.8;
  }
  
  .form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #27cbe0;
    font-size: 25px;
  }
  
  .form input {
    width: 80%;
    padding: 18px;
    margin-bottom: 15px;
    border: 5px solid transparent; /* Borde transparente */
    border-radius: 4px;
    transition: border-color 0.3s; /* Transición de color de borde */
    font-size: 20px;
  }
  
  .form input:focus {
    border-color: #00ffff; /* Color de borde fluorescente al enfocar */
  }
  
  .form .danger {
    color: red;
    font-size: 24px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  
  .form button {
    background-color: #1abfca;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.3s;
    margin-top: 45px;

  }
  
  .form button:hover {
    background-color: #0fbe58;
  }