/* .cardsContainer {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
  transition: max-height 0.10s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.cardsContainer.open {
  max-height: 1000px; 
}
.card {
  border: 1px solid #e01616;
  padding: 10px;
  margin: 10px;
  width: calc(33.33% - 20px); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

} */

/* Cards.module.css */

.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
}

h2 {
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 1rem;
}

.speciesContainer {
  width: 100%;
}

h3 {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.card {
  flex: 0 0 calc(20% - 20px);
  margin: 10px;
  background-color: #3e3e3e69;
  border: 2px solid #0cf71f;
  border-radius: 20px;
  padding: 20px;
  color: #fff;
  position: relative;
  transition: transform 0.3s ease;
  z-index: 1;
}

.card:hover {
  background-color: #262623c9;
  color: beige;
}

.card img {
  max-width: 75%;
  flex-wrap: wrap;
  height: auto;
  margin-top: 44px;
  border-radius: 160px;
  border: 1px solid #cbf382f6;
}
