.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh; 
  background-color: rgba(0, 0, 0, 0.932); 
  border-radius: 30px;
  }
  .form {
    max-width: 600px;
    width: 100%;
    height: 40%;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .form img {
    max-width: 100%; 
    max-height: 300px; 
    margin-bottom: 20px;
    border-radius: 10px;
    opacity: 0.8;
  }
  
  .form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #27cbe0;
    font-size: 25px;
  }
  
  .form input {
    width: 80%;
    padding: 18px;
    margin-bottom: 15px;
    border: 5px solid transparent;
    border-radius: 4px;
    transition: border-color 0.3s;
    font-size: 20px;
  }
  
  .form input:focus {
    border-color: #00ffff; 
  }
  
  .form .danger {
    color: red;
    font-size: 24px;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  
  .form button {
    background-color: #1abfca;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.3s;
    margin-top: 45px;

  }
  
  .form button:hover {
    background-color: #0fbe58;
  }