.searchBar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	margin-left: 2100px;
}

/* Estilos para el input */

.container {
	position: absolute;
	left: 48%;
	top: 45%;
	transform: translate(-50%, -50%);
	padding: 8px;
	margin-left: 1340px;
}

input {
	outline: none;
	box-sizing: border-box;
	height: 55px;
	width: 0px;
	padding: 0 20px;
	background-color: #1a1919;
	color: #8dd1dd;
	border-radius: 50px;
	font-size: 25px;
	border: 3px solid #63b421;
	transition: all .7s ease;
	box-shadow: 0 0 10px rgba(105, 197, 29, 0.7);
}

::placeholder {
	color: #8dd1dd;
	/* color: grey; */
}

.btn {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 65px;
	height: 65px;
	background: #63b421;
	line-height: 50px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s;
	box-shadow: 0 0 10px rgba(105, 197, 29, 0.7);
}

.container:hover input {
	width: 210px;
}


.btn:hover {
	background: #1a1919;
}