.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}
  
.myButton {
    background-color: #1abfca;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px; 
  }
  .myButton:hover {
    background-color: #0fbe58;
  }
  .myBackButton {
    background-color: #1abfca;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px; 
  }
  .myBackButton:hover {
    background-color: #0fbe58;
  }